<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Job Options</title>
    <meta
      name="description"
      content="jobs options"
    />
    <link rel="stylesheet" href="/staticfiles/mainfiles/careeroptions/job-options/style.css">
    <%- include('../../../partials/head.ejs') %>
  </head>

  <body>
    <%- include('../../../partials/navbar.ejs') %>
    
    <div id="data-container">
      <% for (let i = 0; i < job_options_data.job_options_data.length; i++) { %>
        <h2><%= job_options_data.job_options_data[i].sector %></h2>
        <% if (job_options_data.job_options_data[i].subsectors.length > 0) { %>
          <ul>
            <% for (let j = 0; j < job_options_data.job_options_data[i].subsectors.length; j++) { %>
              <li><%= job_options_data.job_options_data[i].subsectors[j] %></li>
            <% } %>
          </ul>
        <% } else { %>
          <p></p>
        <% } %>
      <% } %>
    </div>
    <%- include('../../../partials/footer.ejs') %>
    <!-- <script src="/staticfiles/mainfiles/careeroptions/job-options/script.js"></script> -->
  </body>
</html>